body{
  margin:0;
}

p{
  font-weight: 600;
}

.headWelcome{
  padding: 25px;
  background: url('../img/land.jpg')no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
}

.cadre{
  width: 50%;
  padding: 30px!important;
  margin: 0 auto;
}

a .homebox{
  width: 50%;
  height: 250px;
  padding: 30px!important;
  margin: 0 auto;
  border: 1px solid #37434f;
  margin-top: 35px;
  position: relative;
  border-radius: 3px;
}

a .homebox:hover{
  cursor: pointer;
  background: black;
  transition: background .7s;
}

a .homebox p {
  color: #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

a .homebox:hover p {
    color: #ffffff;
    transition: color .3s;
}

.colorB{
  color: #37434F;
}

.backLogo{
  cursor: pointer;
  display: inline;
}


@media (max-width: 1460px){
  .row .center img{
    width: 200px;
  }
}

@media (max-width: 1080px){
  .row .center img{
    width: 180px;
  }
}

@media (max-width: 770px){
  .cadre {
      width: 80%;
  }
  .footer{
    display: none;
  }
  .row .center img{
    width: 100px;
  }
}

@media (max-height: 770px){
  .footer{
    display: none;
  }
  .row .center img{
    width: 100px;
  }
}

.container form{
  margin: 0 auto;
}

.item{
  text-align: center;
  background: #37434f;
  color: white;
  border-bottom:3px solid #36dcf6;
  padding: 25px;
  cursor: pointer;
}

.itemArticle{
  text-align: center;
  background: #37434f;
  color: white;
  border-bottom:3px solid #36dcf6;
  padding: 25px;
}

.item:hover{
    transition: background-color 0.5s;
    background-color: black;
}

.search{
  position: absolute;
  top: 20px;
  right: 30px;
}
@media (max-width: 666px){
  .search{
    position: relative;
    text-align: center;
    margin-left: 25px;
  }
}

.item a {
  text-decoration: none;
  color: inherit;
}

.line-separator{
  height:1px;
  background:#717171;
  border-bottom:1px solid #ffffff;
  margin-bottom: 25px;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  background: #37434f;
}

.footer .content{
  padding-left: 20px;
  padding-top: 20px;
}

.footer .content h3{
  color: white;
  margin-bottom: 0;
}

/* BASE */

.center{
  text-align: center;
}
